<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajeet Personal Site</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <section class="profile">
      <nav class="navigation">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Portfolio</a></li>
          <li><a href="static/contact.html">Contact Us</a></li>
        </ul>
      </nav>

      <img src="static/aj-logo.png" class="logo" alt="" />
      <div class="content">
        <h1 class="name">Ajeet Kumar</h1>
        <i
          ><b>
            <p>
              exist in
              <a href="" class="company-link">this Damn World!</a>
            </p>
          </b></i
        >
        <p>
          I just love those kind of man who <br />knows more than he lets on.
        </p>
      </div>
      <br />
      <div class="container">
        <div class="about-us">
          <img src="static/aj-pic.jpg" alt="profile pic" />
          <h1>About Me</h1>
          <p>
            Let me see, from where should i start.. <br />
            A man having Monochromatic soul with a Colourful heart. Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Aperiam error, maiores
            ullam nihil provident ut, inventore non cumque, porro quos quia odio
            laborum consequuntur ab praesentium. Doloribus commodi facere
            quibusdam ex dignissimos, aperiam eligendi laborum accusantium odit
            recusandae incidunt impedit fugit minus sapiente ipsa odio expedita
            beatae magni corporis atque nulla culpa! Dolorum, mollit ia.
            Consequatur optio sunt neque ducimus eligendi iste earum odit saepe,
            numquam doloremque distinctio voluptate sequi reiciendis asperiores
            fugit rerum harum quisquam nihil blanditiis. <br />
            I will come back with the best Version of me One day.
          </p>
          <div class="courses">
            <h2>Education</h2>
            <ul>
              <li>The Complete Javascript Bootcamp</li>
              <li>The Complete Web Development Bootcamp</li>
              <li>100 Days of Python Development Bootcamp</li>
            </ul>
          </div>
          <div class="box">
            <h2>My Services</h2>
            <div class="services">
              <div class="service-box">
                <span>📱</span>

                <h3>App Development</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae non animi velit blanditiis alias fuga dolorum porro
                  perferendis quaerat officia doloribus nostrum unde ipsum
                  corrupti illum enim, suscipit, fugiat aliquam quis quod
                  pariatur...<a class="read-more" href="">Read More</a>
                </p>
              </div>
              <div class="service-box">
                <span>⚙</span>

                <h3>Web Development</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae non animi velit blanditiis alias fuga dolorum porro
                  perferendis quaerat officia doloribus nostrum unde ipsum
                  corrupti illum enim, suscipit, fugiat aliquam quis quod
                  pari⚔🛠atur... <a class="read-more" href="">Read More</a>
                </p>
              </div>
              <div class="service-box">
                <span>🧫</span>
                <h3>UI/UX Design</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae non animi velit blanditiis alias fuga dolorum porro
                  perferendis quaerat officia doloribus nostrum unde ipsum
                  corrupti illum enim, suscipit, fugiat aliquam quis quod
                  pariatur... <a class="read-more" href="">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </section>
    <div class="footer">
      <div class="contact">
        <h1>Contact Me</h1>
        <p><span>📭</span>jeetak162@gmail.com</p>
        <p><span>📞</span>+91-9162549851</p>
        <p>
          <span>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <img class="social-logo" src="static/ig.webp" alt="" />
            </a>
          </span>
          <span
            ><a href="http://" target="_blank" rel="noopener noreferrer">
              <img class="social-logo" src="static/tw.webp" alt="" />
            </a>
          </span>
        </p>
        <button class="download">Download CV</button>
      </div>
      <div class="contact-form">
        <input type="text" placeholder="Your Name" />
        <br />
        <input type="text" placeholder="Your Email" />
        <br />
        <textarea
          cols="62"
          rows="5"
          placeholder="The hardest thing that i've learned from life is how to keep quiet even when i've millions of words to say. . ."
        ></textarea>
        <br />
        <button class="submit">Submit</button>
      </div>
    </div>
    <div class="end">
      <p>. . .A little lost, a lot found. . .</p>
    </div>
  </body>
</html>
